{% load static %}

<div class="glass footer">
    <div class="footer-logos">
        <a>
            <img src="{% static 'icons/github.svg' %}" alt="github logo" border="0">
        </a>
        <a>
            <img src="{% static 'icons/instagram.svg' %}" alt="instagram logo" border="0">
        </a>
        <a>
            <img src="{% static 'icons/linkedin.svg' %}" alt="linkedin logo" border="0">
        </a>
        <a>
            <img src="{% static 'icons/twitter.svg' %}" alt="twitter logo" border="0">
        </a>
        <a>
            <img src="{% static 'icons/youtube.svg' %}" alt="youtube logo" border="0">
        </a>
    </div>
</div>