{% load static %}

<div class="glass footer">
    <div class="footer-text">
        <h5>Friends</h5>
    </div>
    <div class="footer-logos">
        <a href="http://www.github.com">
            <img src="{% static 'icons/github.svg' %}" alt="github logo" border="0">
        </a>
        <a href="http://www.instagram.com">
            <img src="{% static 'icons/instagram.svg' %}" alt="instagram logo" border="0">
        </a>
        <a href="http://www.linkedin.com">
            <img src="{% static 'icons/linkedin.svg' %}" alt="linkedin logo" border="0">
        </a>
        <a href="http://www.twitter.com">
            <img src="{% static 'icons/twitter.svg' %}" alt="twitter logo" border="0">
        </a>
        <a href="http://www.youtube.com">
            <img src="{% static 'icons/youtube.svg' %}" alt="youtube logo" border="0">
        </a>
    </div>
</div>
