{% extends "base.html" %}
{% load static %}

{% block title %}Profile - {{ profile.user.username }}{% endblock %}

{% block content %}
<div class="container p-4">
    <div class="profile">
        <div class="info">
            <div class="profile-img text-center">
                {% if profile.image %}
                    <img src="{{ profile.image.url }}" alt="{{ profile.user.username }}'s profile image">
                {% else %}
                    <img src="{% static 'images/defaultProfile.png' %}" alt="default profile image">
                {% endif %}
            </div>
            <h1>Username : {{ profile.user.username }}</h1>
            <p>Bio: {{ profile.bio|safe }}</p>
            <p>Name and Lastname : {{ profile.name }} {{ profile.lastname }}</p>
            <p>Location : {{ profile.location }}</p>
            <p>Joined On : {{ profile.joined_on|date:"d.M.Y" }}</p>
            <p>Hobbys : {{ profile.hobbys }}</p>
            <p>Posts : {{ profile.user.post_owner.count }}</p>
            
            {% if request.user.pk == profile.user.pk %}
                <button id="editProfileButton" class="btn btn-primary w-25 mb-4">Edit Profile</button>
            {% endif %}
            {% if request.user.pk is not profile.user.pk %}
                <a href="#" class="btn btn-primary w-25 mb-4"><img src="{% static 'icons/follow.png' %}" height="40px" width="40px"/> Follow</a>
            {% endif %}


        </div>
        <div class="profile-posts">
            <h2 text-center pb-4>Posts</h2>
            {% for post in profile.user.post_owner.all %}
                <a href="#" onclick="postView({{ post.id }})"><h3>{{ post.title }}</h3></a>
                <h3>Created on : {{ post.created_on }}</h3>
                <hr>
            {% endfor %}
        </div>

        <div id="profile-detailView" class="profile-detailView">
            <!--Manage from jquery-->
        </div>


    </div>
</div>
<!-- The Modal -->
<div id="myModal" class="modal mt-5"  style="color:black;">
    <!-- Modal content -->
    <div class="modal-content container">
        <span class="close fs-1 pe-2">&times;</span>
        <form method="POST" action="{% url 'edit_profile' request.user.id %}" class="mb-2 p-2"
            enctype="multipart/form-data">
            <h2 class="text-center fs-4">Edit Profile</h2>
            {% csrf_token %}
            {{ form|crispy }}
            {{ form.media }}
            <div class="d-flex justify-content-center">
                <button type="submit" class="btn btn-primary w-25">Submit Changes</button>
            </div>
        </form>
    </div>
</div>
</div>
{% endblock %}

{% block extra_js %}
{{ block.super }}
<script>
    // Get the modal
    const modal = document.getElementById("myModal");

    // Get the button that opens the modal
    const btn = document.getElementById("editProfileButton");

    // Get the <span> element that closes the modal
    const span = document.getElementsByClassName("close")[0];

    // When the user clicks on the button, open the modal
    btn.onclick = function () {
        // modal.style.display = "block";
        $('#myModal').slideDown('slow');
    }

    // When the user clicks on <span> (x), close the modal
    span.onclick = function () {
        // modal.style.display = "none";
        $('#myModal').slideUp('slow');
    }

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function (event) {
        if (event.target == modal) {
            // modal.style.display = "none";
            $('#myModal').slideUp('slow');
        }
    }
</script>
{% endblock %}