.left-panel {
    width: 20%;
    height: 100%;
    float: left;
}

.main {
    color:white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    width: 60%;
    height: 100%;
    overflow: auto;
    gap:50px;
}

.right-panel {
    text-align: center;
    width: 20%;
    height: 100%;
    float: right;
}

.card {
    color:whitesmoke;
    
}