html, body {
    color:white;
}

/* GLASS CARD */

.glass {
    background: rgba( 42, 97, 170, 0.1 );
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    backdrop-filter: blur( 3px );
    -webkit-backdrop-filter: blur( 3px );
    border-radius: 10px;
}

.welcome{
    text-align: center;
    justify-content: center;
    color:whitesmoke;
}
.container {
    color:white;
    width: 100%;
    height: 88%;
}

/** Form **/
.form {
    width: 50%;
    margin: 30% auto;
    box-shadow: var(--smal-box-shadow);
    border-radius: 5px;
}


/* Navbar style */
.navbar-brand {
    color:white;
}

.navbar-nav>li>a {
    color: white;
}

.navbar-nav>li>a:hover, .navbar-nav>li>a:focus {
    color: red;
}

.navbar-nav>li>a.active {
    color:red;
}

/* footer style */

.footer {
    width: 100%;
    height: 5%;
    position: absolute;
    bottom: 0px;
    color: white;
}

.footer-logos {
    display: flex;
    flex-direction: row;
    padding-right: 50px;
    justify-content: right;
    justify-items: center;
    align-items: center;
    gap: 20px;
}

.footer a img {
    width: 40px;
    height: 40px;
}

.addPostCard {
    width: 560px;
    padding: 20px;
    margin: 20px;
    text-align: center;
    justify-content: center;
    justify-items: center;
    align-items: center;
    border-radius: 10px;
}