html {
    color:white;
}

/* GLASS CARD */

.glass {
    background: rgba( 42, 97, 170, 0.1 );
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    backdrop-filter: blur( 3px );
    -webkit-backdrop-filter: blur( 3px );
    border-radius: 10px;
}

.welcome{
    text-align: center;
    justify-content: center;
    color:whitesmoke;
}

.container {
    color:white;
    margin-top: 200px;
}

.card {
    color:rgb(120, 130, 223);
    border-radius: 10px;
    width: 500px;
    height: 600px;
}
/* Navbar style */
.navbar-brand {
    color:white;
}

.navbar-nav>li>a {
    color: white;
}

.navbar-nav>li>a:hover, .navbar-nav>li>a:focus {
    color: red;
}

.navbar-nav>li>a.active {
    color:red;
}

/* footer style */

.footer {
    width: 100%;
    height: 70px;
    position: absolute;
    bottom: 0px;
    color: white;
}

.footer-logos {
    display: flex;
    flex-direction: row;
    padding-right: 50px;
    justify-content: right;
    justify-items: center;
    align-items: center;
    gap: 20px;
}

.footer a img {
    width: 40px;
    height: 40px;
}