<div class="addComment">

    {% if user.is_authenticated %}

        <form id="addCommentForm" method="post"  action="http://localhost:8000/comments/addcomment/{{ post_id }}/" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form|crispy }}
            <input type="submit" class="btn btn-primary" value="Add Comment">
            <button class="btn btn-primary" onclick="closeAddCommentWin()">Close</button>
        </form>
    {% else %}
        <p>You must be logged in to add a comment</p>
    {% endif %}

</div>