{% load crispy_forms_tags %}

<div class="commentsBase">

    <h1>{{ title }} - Comments</h1>

    {% if image %}
        <img src="{{ image.url }}" alt="{{ title }}" class="comments-image">
    {% endif %}

    <div id="addCommentWin" class="addCommentWin">
    </div>

    <div class="allComments">
        {% for comment in comments %}
            <div class="Comment">
                <hr>
                <h3>Title: {{ comment.post.title }}</h3>
                <h3>Name: {{ comment.name }}</h3>
                <h3>Post id: {{ post }}</h3>
                <h3>User: {{ comment.user }}</h3>
                <p>Comment: {{ comment.body }}</p>
                <p>Created on: {{ comment.created_on }}</p>
            </div>
        {% endfor %}
    </div>

    <div class="comments-footer">
        {% if user == comments.post.user %}
            <a class="btn btn-primary" href="{% url 'editComment' comments.post.id %}">Edit</a>
            <a class="btn btn-danger" href="{% url 'deleteComment' comments.post.id %}">Delete</a>
        {% endif %}
        <button class="btn btn-primary" onclick="flipCardBack()">Back</button>
        <div id="postView_Close_Button" onclick="postView_Close_Button()" class="btn btn-primary">Close</div>

        {% if user.is_authenticated %}
            <button class="btn btn-primary" onclick="addCommentWin({{ post }})">Add Comment</button>
        {% else %}
            <p>You must be logged in to add a comment</p>
        {% endif %}

    </div>
    <hr>

</div>