{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title%}Add Post {% endblock %}

{% block content %}
    <section>
        <div class="glass addPostCard">
            <h1>Share Something Awesome</h1>
            <form id="add_post" name="add_post" method="POST" enctype="multipart/form-data" action="{% url 'addPost' %}">
                {% csrf_token %}
                {{ form|crispy }}
                <button class="btn btn-primary" type="submit">Share Post</button>
            </form>
        </div>
    </section>
{% endblock %}