{% load static%}

<div class="left-panel">
<p>This is the left panel</p>
</div>

<div class="main">
    <div class="glass card" style="width: 560px;">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/pc0crl_oETA?si=nDGAYhK8ydoHLRBt" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    
</div>

<div class="right-panel">
    <h5>
        <img src="{% static 'icons/freunde2.png' %}" alt="freunde icon" width="30" height="30" />
        Friends
        <hr>
    </h5>
</div>