{% load static%}

<!--LEFT PANEL-->
<div class="left-panel">
<p>This is the left panel</p>
</div>

<!--MAIN PANE-->
<div class="main">
  
<div class="container d-flex flex-row flex-wrap justify-content-center">

    {% for post in posts %}
        <a href="{% url 'post' post.id %}">
            <div class="glass card m-3" style="width: 560px;">
              <iframe width="560" height="315" src="{{ post.youtube_link }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                <div class="card-body">
                  <h5 class="card-title">{{ post.title }}</h5>
                  <p class="card-text">{{ post.content }}</p>
                </div>
            </div>
        </a>
    {% endfor %}


<!--    <div class="glass card" style="width: 560px;">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/pc0crl_oETA?si=nDGAYhK8ydoHLRBt" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    -->
</div>

<!--RIGHT PANEL-->
<div class="right-panel">
    <h5>
        <img src="{% static 'icons/freunde2.png' %}" alt="freunde icon" width="30" height="30" />
        Friends
        <hr>
    </h5>
</div>
