{% extends 'base.html' %}
{% load static %}
{% load embed_video_tags %}

{% block title%}Home{% endblock %}

{% block content %}

    {% if request.user.is_authenticated %}
        <!--LEFT PANEL-->
        <div class="left-panel">
            <div class="clock">
                <iframe src="https://free.timeanddate.com/clock/i9e6mja5/n168/szw210/szh210/hoc222/hbw6/cf100/hgr0/hcw2/hcd88/fan2/fas20/fdi70/mqc000/mqs3/mql13/mqw4/mqd94/mhc000/mhs3/mhl13/mhw4/mhd94/mmc000/mml5/mmw1/mmd94/hwm2/hhs2/hhb18/hms2/hml80/hmb18/hmr7/hscf09/hss1/hsl90/hsr5" frameborder="0" width="210" height="210"></iframe>
            </div>
            <div class="weather">
                <script src="https://static.elfsight.com/platform/platform.js" data-use-service-core defer></script>
                <div class="elfsight-app-7fba0c3a-9b4c-437b-9572-4daf73095e7d" data-elfsight-app-lazy></div>
            </div>
            <div class="visitorsMap">
                <div style="display:inline-block;width:200px;"><script type="text/javascript" src="//rf.revolvermaps.com/0/0/7.js?i=5l705d66lo9&amp;m=0&amp;c=ff0000&amp;cr1=ffffff&amp;br=10&amp;sx=0" async="async"></script></div>
            </div>
            <hr>
        </div>
            
        <!--MAIN PANEL-->
        <div class="main-panel">
            {% for post in posts %}
<!--                <a href="{% url 'postView2' post.id %}" aria-label="Click to view {{post.title}}"> -->
                    <div class="glass card" data-id="{{post.id}}">
                        <h2 class="card-title">{{ post.title }}</h2>
                        <br><hr>
                        {% if "default.jpg" in post.image.url %}
                            <p>No Image</p>
                        {% else %}
                            <img class="card-img-top" src="{{post.image.url}}" alt="{{post.image_alt}}">
                        {% endif %}
                        <br>
                        {% video post.video '600x400' %}
                        <div class="card-body">
                            <p class="card-text">{{ post.content|safe|truncatechars:100 }}</p>
                            <!--LIKE BUTTON-->
                            {% if user.is_authenticated %}
                                <form method="POST" action="{% url 'post_like' post.id %}">
                                    {% csrf_token %}
                                    {% if user in post.likes.all %}
                                    <button type="submit" class="btn btn-danger" name="post_likes"
                                        value="{{ post.id }}">
                                        <img src="{% static 'icons/like.png' %}" alt="like icon" width="20" height="20" />
                                        Unlike</button>
                                    {% else %}
                                    <button type="submit" class="btn btn-primary" name="post_likes"
                                        value="{{ post.id }}">
                                        <img src="{% static 'icons/like.png' %}" alt="like icon" width="20" height="20" />
                                        Like</button>
                                    {% endif %}
                                    <button id="card-button" data-id="{{post.id}}" onclick="cardButtonClick({{post.id}})" type="button" class="btn btn-primary" >View Post</button>
                                </form>
                            {% else %}
                                <span>Please Login </span>
                            {% endif %}
                            
                        </div>
                        <hr>
                        <div class="card-footer">
                            <p class="card-text"><small>Added {{ post.created_on }} from {{ post.user }}</small></p>
                            <span><strong>Likes {{ post.likes.count }}</strong></span>
                        </div>
                    </div>
            {% endfor %}            
        </div>
        
        <!--RIGHT PANEL-->
        <div class="right-panel">
            <div class="friendsList">
                <h5>
                    <img src="{% static 'icons/freunde2.png' %}" alt="freunde icon" width="20" height="20" />
                    Friends
                    <hr>
                </h5>
            </div>
            <div class="chat">
                <h5>
                    <img src="{% static 'icons/chat.png' %}" alt="chat icon" width="20" height="20" />
                    Chat
                </h5>
                <hr>
            </div>
        </div>
        <!--END OF RIGHT PANEL-->
        
<!-- First Version of Flip-Card

        <div class="flip-card" id="flip-card">
            <div id="flip-card-inner" class="flip-card-inner">
                <div class="flip-card-front" id="flip-card-front">
                </div>
                <div class="flip-card-back">
                    <h1>Comments</h1>
                    <p>Architect & Engineer</p>
                    <p>We love that guy</p>
                    <button class="btn btn-primary" onclick="flipCardBack()">Back</button>
                    <div id="postView_Close_Button" onclick="postView_Close_Button()" class="btn btn-primary">Close</div>
                </div>
            </div>
        </div>
-->
<!--FLIP-BOX-->
        <div class="flip-box" id="flip-card">
            <div id="front" class="front">
                <div class="content" id="flip-card-front">
<!--                    FRONT                                  -->
                </div>
            </div>
            <div id="back" class="back">
                <div class="content" id="flip-card-back">
<!--                    BACK                                  -->
                </div>
            </div>
        </div>
<!--END OF FLIP-BOX-->

    {% else %}
        <div class="welcome">
            <h1>Welcome to the Home Page</h1>
        </div>
    {% endif %}
{% endblock %}