{% extends 'base.html' %}
{% load static %}
{% load embed_video_tags %}

{% block title%}Home{% endblock %}

{% block content %}

    {% if request.user.is_authenticated %}
        <!--LEFT PANEL-->
        <div class="left-panel">
            <p>This is the left panel</p>
        </div>
            
        <!--MAIN PANEL-->
        <div class="main">
            {% for post in posts %}
                <a href="{% url 'home'%}">
                    <div class="glass card" style="width: 560px;">
                        <img class="card-img-top" src="{{post.image.url}}" alt="{{post.image_alt}}">
                        <br>
                        <!--{% video post.video '560x315' %}-->
                        <div class="card-body">
                        <h2 class="card-title">{{ post.title }}</h2>
                        <p class="card-text">{{ post.content|truncatechars:100 }}</p>
                        <p>posted on {{ post.created_on }} from {{ post.user }}</p>
                        <span>{{ post.likes_count }} likes</span>
                    </div>

                    </div>
                </a>
            {% endfor %}            
        </div>
        
        <!--RIGHT PANEL-->
        <div class="right-panel">
            <h5>
                <img src="{% static 'icons/freunde2.png' %}" alt="freunde icon" width="30" height="30" />
                Friends
                <hr>
            </h5>
        </div>    
    {% else %}
        <div class="welcome">
            <h1>Welcome to the Home Page</h1>
        </div>
    {% endif %}
{% endblock %}