{% extends 'base.html' %}
{% load static %}

{% block title%}Home{% endblock %}

{% block content %}

    {% if request.user.is_authenticated %}
        <!--LEFT PANEL-->
        <div class="left-panel">
            <h5>More Apps </h5>
        </div>
            
        <!--MAIN PANEL-->
        <div class="main-panel">
            {% for post in posts %}
<!--                <a href="{% url 'postView2' post.id %}" aria-label="Click to view {{post.title}}"> -->
                    <div class="glass card" data-id="{{post.id}}">
                        <h2 class="card-title">{{ post.title }}</h2>
                        <br><hr>
                        {% if "default.jpg" in post.image.url %}
                            <p>No Image</p>
                        {% else %}
                            <img class="card-img-top" src="{{post.image.url}}" alt="{{post.image_alt}}">
                        {% endif %}
                        <br>
                        <div class="card-body">
                            <p class="card-text">{{ post.content|safe|truncatechars:100 }}</p>
                            <!--LIKE BUTTON-->
                            {% if user.is_authenticated %}
                                <form method="POST" action="{% url 'post_like' post.id %}">
                                    {% csrf_token %}
                                    {% if user in post.likes.all %}
                                    <button type="submit" class="btn btn-danger" name="post_likes"
                                        value="{{ post.id }}">
                                        <img src="{% static 'icons/like.png' %}" alt="like icon" width="20" height="20" />
                                        Unlike</button>
                                    {% else %}
                                    <button type="submit" class="btn btn-primary" name="post_likes"
                                        value="{{ post.id }}">
                                        <img src="{% static 'icons/like.png' %}" alt="like icon" width="20" height="20" />
                                        Like</button>
                                    {% endif %}
                                    <button id="card-button" data-id="{{post.id}}" onclick="cardButtonClick({{post.id}})" type="button" class="btn btn-primary" >View Post</button>
                                </form>
                            {% else %}
                                <span>Please Login </span>
                            {% endif %}
                            
                        </div>
                        <div class="card-footer">
                            <p class="card-text"><small>Added {{ post.created_on }} from <strong> <a href="{% url 'profile' post.user.pk %}"> {{ post.user }} </a></strong></small></p>
                            <span><strong>
                                <img src="{% static 'icons/like.png' %}" alt="like icon" width="20" height="20" />
                                Likes {{ post.likes.count }}</strong></span>
                        </div>
                    </div>
            {% endfor %}
        </div>
        
        <!--RIGHT PANEL-->
        <!-- FRIENDS LIST-->
        <div class="right-panel">
            <div class="friendsList">
                <h5>
                    <img src="{% static 'icons/freunde2.png' %}" alt="freunde icon" width="20" height="20" />
                    Followers
                    <hr>
                </h5>
                <div id="followers-list" class="followers-list">
                </div>
            </div>
        <!--CHAT-->
            <div class="chat">
                <h5>
                    <img src="{% static 'icons/chat.png' %}" alt="chat icon" width="20" height="20" />
                    Chat
                </h5>
                <hr>
            </div>
        </div>

        <!--END OF RIGHT PANEL-->
        
<!--FLIP-BOX-->
        <div class="flip-box" id="flip-card">
            <div id="front" class="front">
                <div class="content" id="flip-card-front">
<!--                    FRONT                                  -->
                </div>
            </div>
            <div id="back" class="back">
                <div class="content" id="flip-card-back">
<!--                    BACK                                  -->
                </div>
            </div>
        </div>
<!--END OF FLIP-BOX-->

    {% else %}
        <div class="welcome">
            <div class="ripple"></div>
            <h1>Welcome to the Home Page</h1>
        </div>
    {% endif %}
{% endblock %}