{% load static%}

<div #id="postView" class="postView">
    <div class="postView-header">
        <h1>{{ post.title }} from <a href={% url 'profile' post.user.pk %}>{{ post.user }}</h1></a>
    </div>
    <hr>
    <div class="postView-media">
        {% if post.image %}
            <img src="{{ post.image.url }}" alt="{{ post.image_alt }}" width="600px" height="400px"  />
        {% else%}
            <p>No Image</p>
        {% endif %}
    </div>

    <p>{{ post.content }}</p>

    <div id="postView_Close_Button" onclick="postView_Close_Button()" class="btn btn-primary">Close</div>
    
    <a class="btn btn-primary" onclick="postViewFlip()">View Comments</a>
    
    {% if user == post.user %}
        <a class="btn btn-primary" href="{% url 'editPost' post.id %}">Edit</a>
        <a class="btn btn-danger" href="{% url 'deletePost' post.id %}">Delete</a>
    {% endif %}
    <hr>
    <div class="postView-footer">
        <p class="card-text"><small>Added {{ post.created_on }} from {{ post.user }}</small></p>
        <span><strong>Likes {{ post.likes.count }}</strong></span>
    </div>

</div>
